# API Keys
GROQ_API_KEY=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
GITHUB_API_KEY=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
HUGGING_FACE_API_KEY=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

# Configuration
APP_NAME=NYC Cigarette Butt Collection
ENVIRONMENT=development
DEBUG=true
